<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./landing.css">
    <title>Landing Page for Shop Majuu/ Shop Majuu – Sustainable Global Shipping</title>
</head>
<body>
    <header>
        <img src="" alt="Logo Image">
        <div class="header-links">
            <a href="">FAQ</a>
            <a href="">Drop down link for business partnerships</a>
        </div>
    </header>
    <nav>
        <ul class="nav nav-pills">
            <li class="logo-item">Logo image with link that redirects to homepage</li>
            <li>
                <ul class="nav-left">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">How it works</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Shopping Tools</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Shipping Cost Estimator Tool</a></li>
                            <li><a class="dropdown-item" href="#">Ebay deal finder</a></li>
                            <li><a class="dropdown-item" href="#">Walmart Shopper</a></li>
                            <!-- <li><hr class="dropdown-divider"></li> -->
                            <li><a class="dropdown-item" href="#">Amazon Deal Finder</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="nav-right">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">SignUp</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</body>
</html>